In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
521,tt0257106,45000000,141220678,Scary Movie 2,Anna Faris|Marlon Wayans|James DeBello|Shawn W...,Keenen Ivory Wayans,No More Mercy. No More Shame. No More Sequels ...,While the original parodied slasher flicks lik...,83,Comedy,Gold/Miller Productions|Wayans Bros. Entertain...,7/4/2001,5.5,2001
1137,tt0264395,50000000,42792561,Basic,John Travolta|Connie Nielsen|Samuel L. Jackson...,John McTiernan,Deception is their most deadly weapon.,A DEA agent investigates the disappearance of ...,98,Action|Drama|Mystery|Thriller|Crime,Intermedia Films|Krane Entertainment,4/18/2003,6.0,2003
677,tt0482606,9000000,82391145,The Strangers,Liv Tyler|Scott Speedman|Alex Fisher|Peter Cla...,Bryan Bertino,Lock the door. Pretend you're safe.,"After returning from a wedding reception, a co...",90,Thriller|Horror|Mystery,Rogue Pictures|Vertigo Entertainment,5/29/2008,5.9,2008
616,tt0493464,75000000,258270008,Wanted,Angelina Jolie|James McAvoy|Morgan Freeman|Tho...,Timur Bekmambetov,Choose your destiny.,Doormat Wesley Gibson discovers that his recen...,110,Action|Thriller|Crime,Universal Pictures|Spyglass Entertainment|Baze...,6/12/2008,6.3,2008
281,tt1093908,40000000,108332743,Confessions of a Shopaholic,Isla Fisher|Hugh Dancy|Krysten Ritter|Joan Cus...,P.J. Hogan,A new job? Hopefully. A new man? Possibly. A n...,"In the glamorous world of New York City, Rebec...",104,Comedy|Romance,Jerry Bruckheimer Films|Touchstone Pictures,2/5/2009,6.0,2009

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

data['profit'] = data['revenue'] - data['budget'] #profit calculation

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:

data['original_title'][data['budget'] == data['budget'].max()] #filter the title of the movie with highest budget

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data[data.budget==data.budget.max()] #filter the movie with highest budget

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'# +

In [9]:
data[data.runtime==data.runtime.max()] #filter the line with movie with longest runtime

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

In [10]:
data['original_title'][data['runtime']==data['runtime'].max()] #filter the title of the longest movie

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = '768. Winnie the Pooh' #+

In [12]:
data['original_title'][data['runtime']==data['runtime'].min()]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '110' #+

In [14]:
data['runtime'].mean()

109.6585494970884

In [15]:
data.describe() #mean of runtime can be also found in description overview

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = data['runtime'].median()
display(answers['5'])

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data6 = pd.read_csv('movie_bd_v5.csv')
data6['profit'] = data6['revenue'] - data6['budget']
data6[data6['profit']==data6['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [18]:
answers['6'] = '239. Avatar' #+

# 7. Какой фильм самый убыточный?

In [19]:
data7 = pd.read_csv('movie_bd_v5.csv')
data7['profit'] = data7['revenue'] - data7['budget']
data7[data7['profit'] == data7['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [20]:
answers['7'] = '1245. The Lone Ranger' #+

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
data8 = pd.read_csv('movie_bd_v5.csv')
data8['profit'] = data8['revenue'] - data8['budget']
answers['8'] = data8['imdb_id'][data8['profit']>0].count()
display(answers['8'])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
data9 = pd.read_csv('movie_bd_v5.csv')
data9['profit'] = data9['revenue'] - data9['budget']
data_2008 = data9[data9['release_year'] == 2008]
data_2008[data_2008.profit == data_2008.profit.max()]
#data_2008[data_2008.revenue == data_2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [23]:
answers['9'] = '599. The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
data10 = pd.read_csv('movie_bd_v5.csv')
data10['profit'] = data10['revenue'] - data10['budget']
data12_14 = data10[(data10['release_year']>=2012) & (data10['release_year']<=2014)] #filter movies between 2012 and 2014
data12_14[data12_14['profit']==data12_14['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [25]:
answers['10'] = '1245. The Lone Ranger' #+

# 11. Какого жанра фильмов больше всего?

In [26]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

data11 = pd.read_csv('movie_bd_v5.csv')
pd.Series(data11['genres'].str.cat(sep='|').split('|')).value_counts() #split genres column and count movies of each genre

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

In [27]:
answers['11'] = 'Drama' #+

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
data12 = pd.read_csv('movie_bd_v5.csv')
data12['profit'] = data12['revenue'] - data12['budget']
data12['genres'] = data12['genres'].apply(lambda x: x.split('|')) #split genres in genres column
d_genres = data12.explode('genres') #distribute one genre per 1 row
d_profit = d_genres[d_genres.profit>0] #filter out movies with profit
answers['12'] = d_profit['genres'].value_counts().index[0] #calculate movies of each genre and choose the first
display(answers['12']) #+

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [29]:
data13 = pd.read_csv('movie_bd_v5.csv')
data13['profit'] = data13['revenue'] - data13['budget']
data13['director'] = data13['director'].apply(lambda x: x.split('|')) #split director column 
answers['13'] = data13.explode('director').groupby('director')['revenue'].sum().sort_values(ascending = False).index[0]
display(answers['13']) #+

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [30]:
data14 = pd.read_csv('movie_bd_v5.csv')
data14['director'] = data14['director'].apply(lambda x: x.split('|'))
d_director = data14.explode('director')
d_action = d_director[d_director.genres.str.contains('Action')]
answers['14'] = d_action.director.value_counts().index[0]
display(answers['14']) #+

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [31]:
data15 = pd.read_csv('movie_bd_v5.csv')
data15 = data15[data15.release_year == 2012]
data15['cast'] = data15['cast'].apply(lambda x: x.split('|')) #split cast column 
data_cast = data15.explode('cast') 
answers['15'] = data_cast.groupby('cast')['revenue'].sum().sort_values(ascending = False).index[0] #group films per actor and summarize the revenue related to each actor
display(answers['15']) #+

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [32]:
data16 = pd.read_csv('movie_bd_v5.csv')
data16['cast'] = data16['cast'].apply(lambda x: x.split('|'))
data_cast = data16.explode('cast')
data_budget = data_cast[data_cast.budget>data_cast.budget.mean()]
answers['16'] = data_budget.groupby('cast')['budget'].agg('count').sort_values(ascending = False).index[0]
display(answers['16']) #+

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [33]:
data17 = pd.read_csv('movie_bd_v5.csv')
data17['genres'] = data17['genres'].apply(lambda x: x.split('|'))
data_genres = data17.explode('genres')
data_cage = data_genres[data_genres.cast.str.contains('Nicolas Cage')]
answers['17'] = data_cage.genres.value_counts().sort_values(ascending = False).index[0]
display(answers['17']) #+

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [34]:
data18 = pd.read_csv('movie_bd_v5.csv')
data18['profit']=data18['revenue']-data18['budget']
paramount = data18[data18.production_companies.str.contains('Paramount')]
paramount[paramount.profit == paramount.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [35]:
answers['18'] = '925. K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [36]:
data19 = pd.read_csv('movie_bd_v5.csv')
answers['19'] = data19.groupby('release_year')['revenue'].agg('sum').sort_values(ascending = False).index[0]
display(answers['19']) #+

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [37]:
data20 = pd.read_csv('movie_bd_v5.csv')
data20['profit']=data20['revenue']-data20['budget']
warner = data20[data20.production_companies.str.contains('Warner')] #filter out movies by Warner Bros
answers['20'] = warner.groupby('release_year')['profit'].agg('sum').sort_values(ascending = False).index[0] #group movies according to the release year and summarize profit per year. 
display(answers['20']) #+

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [38]:
data21 = pd.read_csv('movie_bd_v5.csv')
data21['release_date'] = data21['release_date'].apply(lambda x: x.split('/')) #split release date into month/day/year
data21['month'] = data21['release_date'].apply(lambda y: y[0]) #create a column with month meaning, taken from release date
data21.groupby('month')['imdb_id'].count().sort_values(ascending = False).index[0] #group movies according to the month column and count movies per month

'9'

In [39]:
answers['21'] = '9 - September' #+

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [40]:
data22 = pd.read_csv('movie_bd_v5.csv')
data22['release_date']=data22['release_date'].apply(lambda x: x.split('/'))
data22['month']=data22['release_date'].apply(lambda y: y[0])
d_june = data22[data22.month == '6']
d_july = data22[data22.month == '7']
d_august = data22[data22.month == '8']
data_summer = pd.concat([d_june, d_july, d_august])
answers['22'] = data_summer.imdb_id.count()
display(answers['22']) #+

450

In [41]:
data22 = pd.read_csv('movie_bd_v5.csv')
data22['release_date']=data22['release_date'].apply(lambda x: x.split('/'))
data22['month']=data22['release_date'].apply(lambda y: y[0])
pivot = data22.loc[data22['month'].isin(['6','7','8'])]
pivot.shape

(450, 15)

# 23. Для какого режиссера зима – самое продуктивное время года?

In [42]:
data = pd.read_csv('movie_bd_v5.csv')
data['director']=data['director'].apply(lambda x: x.split('|'))
data['release_date']=data['release_date'].apply(lambda x: x.split('/'))
data['month']=data['release_date'].apply(lambda y: y[0])
pivot = data.loc[data['month'].isin(['1','2','12'])]
answers['23'] = pivot['director'].value_counts().index[0]
display(answers['23']) #+

['Peter Jackson']

In [43]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date']=data['release_date'].apply(lambda x: x.split('/'))
data['month']=data['release_date'].apply(lambda y: y[0])
d_jan = data[data.month == '1']
d_feb = data[data.month == '2']
d_dec = data[data.month == '12']
data_winter = pd.concat([d_jan, d_feb, d_dec])
data_winter['director']=data_winter['director'].apply(lambda x: x.split('|'))
d_director = data_winter.explode('director')
d_director.groupby('director')['imdb_id'].count().sort_values(ascending = False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [44]:
data = pd.read_csv('movie_bd_v5.csv')
data['name_len'] = data.original_title.apply(lambda x: len(x))
data['production_companies']=data['production_companies'].apply(lambda x: x.split('|'))
d_companies = data.explode('production_companies')
answers['24'] = d_companies.groupby('production_companies')['name_len'].mean().sort_values(ascending = False).index[0]
display(answers['24']) #+

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [45]:
data = pd.read_csv('movie_bd_v5.csv')
data['production_companies']=data['production_companies'].apply(lambda x: x.split('|')) #split production companies in the column
d_companies = data.explode('production_companies') #extand product companies meanings one per row
d_companies['overview_words'] = d_companies['overview'].str.split().str.len() #split overview into words
answers['25'] = d_companies.groupby('production_companies')['overview_words'].mean().sort_values(ascending = False).index[0] #group companies according to the production company and sort with mean quantity of overview words
display(answers['25']) #+

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [46]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' #+

In [47]:
data26 = pd.read_csv('movie_bd_v5.csv')
data_rate = data26.sort_values('vote_average')[['original_title', 'vote_average']] #extract columns with original and rates from the original dataframe
data_rate.query('vote_average >= vote_average.quantile(0.99)').sort_values('vote_average', ascending=False) #filter out and sort movies from 1% with highest rate

                                         original_title  vote_average
599                                     The Dark Knight           8.1
125                                  The Imitation Game           8.0
9                                            Inside Out           8.0
118                                        Interstellar           8.0
34                                                 Room           8.0
872                                         The Pianist           7.9
1081      The Lord of the Rings: The Return of the King           7.9
138                            The Grand Budapest Hotel           7.9
1183                            The Wolf of Wall Street           7.9
370                                           Inception           7.9
119                             Guardians of the Galaxy           7.9
1800                                            Memento           7.9
128                                           Gone Girl           7.9
1191                                   12 Years a Slave           7.9
124                                          Big Hero 6           7.8
283                                          Mr. Nobody           7.8
1688                                There Will Be Blood           7.8
863               The Lord of the Rings: The Two Towers           7.8
155                            The Theory of Everything           7.8
1563              Eternal Sunshine of the Spotless Mind           7.8
1213                                 Dallas Buyers Club           7.8
177                              The Fault in Our Stars           7.8
1188                                                Her           7.8
1444                                       The Prestige           7.8
28                                            Spotlight           7.8
316                                            3 Idiots           7.8
496   The Lord of the Rings: The Fellowship of the Ring           7.8
1205                                          Prisoners           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [48]:
import pandas as pd
import collections
from itertools import combinations

data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x: x.split('|')) #split cast into single actors
data['pairs'] = data['cast'].apply(lambda s: list(combinations(s,2))) #organize pairs out of actors took part in one movie
data = data.explode('pairs') #duplicate rows to have 1 paid in each row
answers['27'] = collections.Counter(data['pairs']).most_common(1) #find the pair with highest frequency in the dataframe
display(answers['27'])

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [49]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh',
 '4': '110',
 '5': 107.0,
 '6': '239. Avatar',
 '7': '1245. The Lone Ranger',
 '8': 1478,
 '9': '599. The Dark Knight',
 '10': '1245. The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': '9 - September',
 '22': 450,
 '23': ['Peter Jackson'],
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': [(('Daniel Radcliffe', 'Rupert Grint'), 8)]}

In [50]:
# и убедиться что ни чего не пропустил)
len(answers)

27